**/.terraform/*
.terraform.lock.hcl.backup

*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.tfvars
*.tfvars.json
!*.tfvars.example

*.tfplan
plan.out

.env
.env.*
*.pem
*.key
credentials.csv

.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
